.ui-pve-toolbar
  @extend .clearfix
  +transform(translateY(-$toolbarHeight))
  +transition(transform 200ms ease)
  +box-shadow(0 0 6px black)
  background: rgba(#333333, 0.9)
  color: white
  left: 0
  height: $toolbarHeight
  padding: 0 0
  position: fixed
  top: 0
  width: 100%
  z-index: 15

  &.active
    +transform(translateY(0))

  .active-area
    display: inline-block
    font-family: "Menomonia", Arial
    font-size: 20px
    height: 100%
    line-height: $toolbarHeight
    vertical-align: middle

  .left-col,
  .right-col,
  .center-col
    float: left
    height: 100%
    line-height: $toolbarHeight
    width: 33.33333333%

  .center-col
    text-align: center

  // select.world-select
    // min-width: 350px

.ui-pve-toolbar-menu
  @extend .clearfix
  height: 100%
  list-style: none
  margin: 0
  padding: 0
  text-align: right

  li
    border-left: 1px solid #777777
    display: inline-block
    height: 100%

.ui-toolbar-button
  +transition(color 200ms linear, background 200ms linear)
  font-size: 13px
  background: transparent
  border: none
  color: white
  height: 100%
  line-height: 100%
  margin: 0
  padding: 0 20px

  &:hover
    background-color: black
    color: #666666

.icon-spinner
  animation: spin 1s linear infinite

+keyframes(spin)
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)
