/* reset {{{*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 62.5%;}
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
a { color: #DF0210; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/*img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }*/

svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
/*}}}*/
/* common {{{*/
.group:before, ul.area-summary-list:before .group:after, ul.area-summary-list:after { content: ""; display: table; }
.group:after, ul.area-summary-list:after { clear: both; }
.group, ul.area-summary-list { *zoom: 1; position: relative }
/*}}}*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Belgrano', serif;
}
#map {
    width:100%;
    height:100%;
    background: #EFEFEF;
    cursor: move;
}
#loading {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 50px;
}
     
#notice {
  position: absolute;
  display: block;
  z-index: 5;
  padding: 4px 10px;
  width: 270px;
  top: 10px;
  left: 50%;
  margin-left: -145px;
  background: #e8ffeb;
  color: #278900;
  text-align: center;
  cursor: pointer;
}
#coord {
    z-index: 10;
    display: block;
    position: fixed;
    bottom: 2px;
    right: 150px;
    color: #fff;
}
#coord span{
    display: inline-block;
    margin-right: 10px;
}

#dev-box {
  z-index: 10;
  display: none;
  position: absolute;
  bottom: 10px;
  left: 70px;
  width: 75px;
  background: #fff;
  color: #000;
  padding: 5px 10px;
  text-align: center;
}

#options-box {
  position:fixed;
  z-index: 5;
  top: 0;
  right: -40px;
  bottom: 0;
  width: 40px;
  background: #ffffff;
  -webkit-transition: right 150ms cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition: right 150ms cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition: right 150ms cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition: right 150ms cubic-bezier(0.8, 0, 0.2, 1);
}

#options-box.active {
  right: 0;
}

#options-box.red {
  background: red;
}

#add-marker,
#remove-marker {
  display: block;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 150ms linear;
  -moz-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  -o-transition: color 150ms linear;
  line-height: normal;
}
#add-marker:hover,
#add-marker.active {
  cursor: pointer;
  color: #666666;
}
#options-box #marker-list {
  position: absolute;
  display: block;
  z-index:5;
  margin: 0;
  padding: 10px;
  list-style:none;
  width: 160px;
  height: auto;
  left: -190px;
  top: -9999em;
  opacity: 0;
  background: rgba(0, 0, 0, 1);
  -webkit-transition: opacity 150ms linear;
  -moz-transition: opacity 150ms linear;
  -ms-transition: opacity 150ms linear;
  -o-transition: opacity 150ms linear;
}
#options-box #marker-list.active {
  top: 10px;
  opacity: 1;
}
#options-box #marker-list li {
  float: left;
}
#options-box #marker-list li + li {
  margin-left: 10px;
}
#options-box #marker-list li + li span{ position: relative; top: 5px }

#options-box #marker-list li span{
  display: inline-block;
  width: 32px;
  cursor: pointer;
  text-align: center;
}
#export {
/*  display: inline-block;*/
  display: none;
  position: absolute;
  z-index: 5;
  bottom: 10px;
  left: 50%;
  width: 50px;
  margin-left: -25px;
  background: #fff;
  color: #000;
  text-decoration: none;
  text-align: center;
}
#export-windows {
  position: absolute;
  display: none;
  z-index: 5;
  top: 50%;
  left: 50%;
  margin: -175px 0 0 -250px;
  width: 500px;
  height: 350px;
  background: #fff;
  padding: 10px;
}
#export-windows.open {
  display: block;
}
#export-windows .close {
  position: absolute;
  display: inline-block;
  text-decoration: none;
  color: #000;
  background: #fff;
  padding: 2px 4px;
  z-index: 6;
  top: -10px;
  right: -10px;
  font-size: 12px;
  font-size: 1.2rem;
}
#export-windows .content{ 
  position: relative;
  overflow-y: scroll;
  height: 350px;
  width: 100%;
}

#markers-options {
  position: fixed;
  z-index: 5;
  top: -100px;
/*  top: 0px;*/
  min-height: 60px;
  width: 100%;
  padding: 10px 20px 10px 20px;
  background: #fff;
  opacity: 1;
  -webkit-transition: all 250ms cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition: all 250ms cubic-bezier(0.8, 0, 0.2, 1);
  -ms-transition: all 250ms cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition: all 250ms cubic-bezier(0.8, 0, 0.2, 1);
}
#markers-options.active {
  top: 0px;
}
#markers-options.off { 
  top: -100px;
  opacity: 0;
}
#markers-options span#options-toggle {
  position: absolute;
  display: block;
  z-index: 6;
  width: 100%;
  left: 0;
  bottom: -53px;
  text-align: center;
}
#markers-options span#options-toggle strong {
  display: inline-block;
  background: #fff;
  padding: 15px 41px;
  font-size: 13px;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 1;
  background: url('../images/layout/btn-bg.png') center center no-repeat;
  -webkit-transition: color 150ms linear;
  -moz-transition: color 150ms linear;
  -ms-transition: color 150ms linear;
  -o-transition: color 150ms linear;
}
#markers-options span#options-toggle strong:hover {
  color: #999;
}

#markers-options span.decorations {
  position: absolute;
  display: block;
  z-index: 5;
  bottom: -50px;
  left: 0;
  height: 50px;
  width: 100%;
  background: url('../images/layout/decorations.png') center top repeat-x;
}

#menu-marker {
    z-index: 10;
    position: relative;
    color: #333;
}

#menu-marker span.menu-title {
  display: inline-block;
  color: #333;
  font-size: 15px;
  font-size: 1.5rem;
  padding: 0 6px 4px 0;
  border-bottom: 1px solid #D4D4D4;
}

#menu-marker ul {
  margin: 10px 0 0 -5px;
  padding: 0;
  list-style-type: none;
}
#menu-marker ul li {
    float: left;
    margin-left: 5px;
}
#menu-marker ul li img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 1px;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
}

#menu-marker ul li.hidden img,
#menu-marker ul li:hover img {
    opacity: 0.5;
}


div.area-summary-overlay {
 position: absolute;
 display: block;
 padding: 10px 4px;
 border: none;
 background: #F9F9F9;
/* background: rgba(249, 249, 249, 0.9);*/
 color: #333;
 min-width: 160px; 
/* border-radius: 6px;*/
 border: 1px solid #8e8e8e;
/* height: 60px; */
}

div.area-summary-overlay.city {
  width: 100px;
}

p.area-summary-title {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
  top: -5px;
}

span.area-title {
  display: inline-block;
/*  padding: 5px 8px;*/
/*  background: #000;*/
/*  border: 1px solid #fff;*/
/*  border-radius: 8px;*/
}
span.lvl-range {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  color: #1cad00;
}

div.area-summary-overlay ul.area-summary-list{
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
div.area-summary-overlay ul.area-summary-list li {
  display: inline-block;
}

div.area-summary-overlay ul.area-summary-list li + li{
  margin-left: 6px;
}

div.area-summary-overlay ul.area-summary-list li .area-summary-icons {
  position: relative;
  top: 4px;
}
