<div class="ui-pve-toolbar">
  <div class="left-col">
    <span class="active-area">Tyria :: <span data-bind="text: activeAreaName">Queensdale</span></span>
  </div>

  <div class="right-col">
    <ul class="ui-pve-toolbar-menu">
      <li><button class="js-close-toolbar ui-toolbar-button"><span class="icon-close"></span></button></li>
    </ul>
  </div>
</div>